<mat-nav-list>
    <a mat-list-item
       routerLink="/sets"
       (click)="onClose()">
        <div class="d-flex a-items-center">
            <mat-icon>category</mat-icon>
            <span class="padding-left-8">Sets</span>
        </div>
    </a>
    <a *ngIf="userIsAuth"
       mat-list-item
       routerLink="/my-sets"
       (click)="onClose()">
        <div class="d-flex a-items-center">
            <mat-icon>list_alt</mat-icon>
            <span class="padding-left-8">My sets</span>
        </div>
    </a>
    <a *ngIf="userIsAuth"
       mat-list-item
       routerLink="/shop"
       (click)="onClose()">
        <div class="d-flex a-items-center">
            <mat-icon>store</mat-icon>
            <span class="padding-left-8">Shop</span>
        </div>
    </a>
    <a *ngIf="!userIsAuth"
       mat-list-item
       routerLink="/login"
       (click)="onClose()">
        <div class="d-flex a-items-center">
            <mat-icon>login</mat-icon>
            <span class="padding-left-8">Login</span>
        </div>
    </a>
</mat-nav-list>