.img {
    background-image: url(../../assets/img/Screenshot\ 2024-02-23\ 162152.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 25rem;
}

.example-card {
    min-width: 12.5rem;
    max-width: 18.75rem;
}


.card-title {
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3rem;
}

.p-card {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-container {
    padding: 1rem;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem 1rem;
}

@media (max-width: 991px) {
    .img {
        height: 21.875rem;
    }
}

@media (max-width: 767px) {
    .img {
        height: 17rem;
    }
}

@media (max-width: 664px) {
    .example-card {
        min-width: 12.5rem;
        max-width: 26rem;
    }

    .card-title {
        height: fit-content;
    }
}

@media (max-width: 576px) {
    .img {
        height: 13rem;
    }
}