html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.a-items-center {
    align-items: center;
}

.f-direction-column {
    flex-direction: column;
}

.j-content-center {
    justify-content: center;
}

.j-content-between {
    justify-content: space-between;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fw-5 {
    font-weight: 500;
}

.pr-4 {
    padding-right: 0.25rem;
}

.pl-10 {
    padding-left: 0.625rem;
}

.pr-10 {
    padding-right: 0.625rem;
}

.px-16 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-4 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.ta-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.color-red {
    color: rgba(255, 0, 0, 0.89);
}